 <!-- vendor will be able to create, edit, and delete himself -->
<h2>Vendor's opening page</h2>
<%= link_to "New Vendor", "/vendors/new" %>

<%= link_to "New Market", "/markets/new" %>

<%= link_to "List of Markets", "/markets/index" %>

<%= link_to "Add Product", "/products/new" %>


    <table style="border: 1px solid black">
    <tr>
    <th>ID</th><th>Vendor Name</th><th>Number of Employees</th><th>Market ID</th><th>Delete</th>
    </tr>
<% @vendors.each do |vendor| %>
    <tr>
      <td><%= vendor.id %></td>
      <td><%= vendor.name %></td>
      <td><%= vendor.no_of_employees %></td>
      <td><%= vendor.market_id %></td>
      <td><%= link_to "Edit", edit_vendor_path(vendor.id) %></td>
      <td><%= button_to "Delete", destroy_vendor_path(vendor.id), method: :delete %></td>
    </tr>
<% end %>
    </table>
