<form class="new_entry" action="/vendors/" method="post">

  <h2>Create Vendor Profile</h2>

  <div>
    <label for="name">Name(required)</label>
    <input type="text" name="vendor[name]"  value = "<%= @vendor.name %>"  />
 </div>
 <div>
   <label for="no_of_employees">Number of Employees</label>
   <input type="integer" name="vendor[no_of_employees]" value = "<%= @vendor.no_of_employees %>" />
 </div>
 <div>
   <label for="market_name">Market Association</label>
   <input type="integer" name="vendor[market_id]" value = "<%= @vendor.market_id %>"/>
</div>
<div>
  <label for="username">Username(required):</label>
  <input type="text" name="vendor[username]"  value = "<%= @vendor.username %>"  />
</div>
<div>
  <label for="password">Password(required):</label>
  <input type="password" name="vendor[password]"  value = "<%= @vendor.password %>"  />
</div>

<br>

   <input type = "submit" value="Sign Up" class = "submit">
 </form>
