
<form class="new_entry" action="/markets/<%= @market.id %>" method="post" >
  <input type="hidden" name="_method" value="PUT">
  <h1>New Market</h1>


  <div>
    <label for="name">Name(required)</label>
    <input type="text" name="market[name]"  value = "<%= @market.name %>"  />
  </div>
  <div>
    <label for="name">Address</label>
    <input type="string" name="market[address]" value = "<%= @market.address %>" />
  </div>
  <div>
    <label for="name">City</label>
    <input type="string" name="market[city]" value = "<%= @market.city %>"/>
  </div>
  <div>
    <label for="name">County</label>
    <input type="string" name="market[county]" value = "<%= @market.county %>"/>
  </div>
  <div>
    <label for="name">State</label>
    <input type="string" name="market[state]" value = "<%= @market.state %>"/></div>
  <div>
    <label for="name">Zip</label>
    <input type="string" name="market[zip]" value = "<%= @market.zip %>"/></div>

<br>

  <input type = "submit" value="Edit Market" id="submit">
  <div id="cancel">
    <%= link_to "Back", markets_lookup_path %>
  </div>
</form>
