<div class="heading"><h2>List of Markets</h2></div>

<div class="market_display">
  <div class="scroll_list2">
<% @markets.each do |market| %>
<ul>
  <li>* <%= market.name %>, <%= market.address %>, <%= market.city %>, <%= market.state %>, <%= market.zip %></li>
</ul>

<% end %>
  </div>
</div>
