<form class="search_button" action="/markets/lookup" method="GET">

  <p>
  <h2>Search Market Name</h2><input id="search" type="text" name="search" />

  <input type="submit"/>

  </p>
  <p><%= link_to "Add New Market", "/markets/new" , style: "color:#60E605"%></p>
</form>

<div class="market_display">
  <div class="scroll_list2">
    <% @markets.each do |market| %>
    <ul>
      <li><%= market.name %>, <%= market.address %>, <%= market.city %>, <%= market.state %>, <%= market.zip %>
        <table><tr><td><%= button_to "Add", add_market_path(market.id) %></td><td><%= link_to "Edit", edit_market_path(market.id) %>
        </td></tr></table></li>
    </ul>
    <% end %>
  </div>
</div>
