<!DOCTYPE html>
<html>
<head>
  <title>RbsFarMar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'markets', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="main_nav_bar">

    <ul>
      <li><%= link_to "Home", "/", style: "color:#ffffff"%></li>
      <li><%= link_to "New Market", "/markets/new" , style: "color:#ffffff"%></li>
      <li><%= link_to "New Vendor", "/vendors/new" , style: "color:#ffffff"%></li>
      <li><%= link_to "List of Markets", "/markets/index" , style: "color:#ffffff"%></li>
      <li><%= link_to "List of Vendors", "/vendors/index" , style: "color:#ffffff"%></li>       </li>
    </ul>

  </nav>

<%= yield %>

</body>
</html>
